## Data from World Happiness Report

The World Happiness Report is an annual publication of the United Nations Sustainable Development Solutions Network. It contains articles, and rankings of national happiness based on respondent ratings of their own lives, which the report also correlates with various life factors.

In this notebook we will explore the happiness of different countries and the features associated.
The datasets that we will use are available in *Data*: **happiness2020.pkl** and **countries_info.csv**.

Although the features are self-explanatory, here a summary: 

**happiness2020.pkl**
* country: *Name of the country*
* happiness_score: *Happiness score*
* social_support: *Social support (mitigation the effects of inequality)*
* healthy_life_expectancy: *Healthy Life Expectancy*
* freedom_of_choices: *Freedom to make life choices*
* generosity: *Generosity (charity, volunteers)*
* perception_of_corruption: *Corruption Perception*
* world_region: *Area of the world of the country*

**countries_info.csv**
* country_name: *Name of the country*
* area: *Area in sq mi*
* population: *Number of people*
* literacy: *Literacy percentage*

In [3]:
!head Data/countries_info.csv

'head' n'est pas reconnu en tant que commande interne
ou externe, un programme exï¿½cutable ou un fichier de commandes.

In [4]:
import pandas as pd
%matplotlib inline

DATA_FOLDER = 'Data/'

HAPPINESS_DATASET = DATA_FOLDER+"happiness2020.csv"
COUNTRIES_DATASET = DATA_FOLDER+"countries_info.csv"

## Task 1: Load the data

Load the 2 datasets in Pandas dataframes (called *happiness* and *countries*), and show the first rows.


**Hint**: Use the correct reader and verify the data has the expected format.

In [5]:
happiness = pd.read_csv(HAPPINESS_DATASET, delimiter = ',')
happiness.head()

,country,happiness_score,social_support,healthy_life_expectancy,freedom_of_choices,generosity,perception_of_corruption,world_region
0,Afghanistan,2.5669,0.470367,52.590000,0.396573,-0.096429,0.933687,South Asia
1,Albania,4.8827,0.671070,68.708138,0.781994,-0.042309,0.896304,Central and Eastern Europe
2,Algeria,5.0051,0.803385,65.905174,0.466611,-0.121105,0.735485,Middle East and North Africa
3,Argentina,5.9747,0.900568,68.803802,0.831132,-0.194914,0.842010,Latin America and Caribbean
4,Armenia,4.6768,0.757479,66.750656,0.712018,-0.138780,0.773545,Commonwealth of Independent States

In [18]:
countries = pd.read_csv(COUNTRIES_DATASET, decimal = ',')
countries.head()

  country_name     area  population  literacy
0  afghanistan   647500    31056997      36.0
1      albania    28748     3581655      86.5
2      algeria  2381740    32930091      70.0
3    argentina  2766890    39921833      97.1
4      armenia    29800     2976372      98.6

## Task 2: Let's merge the data

Create a dataframe called *country_features* by merging *happiness* and *countries*. A row of this dataframe must describe all the features that we have about a country.

**Hint**: Verify that all the rows are in the final dataframe.

In [19]:
country_features = happiness.merge(countries,\
                                   how='outer',
                                   left_index=True,\
                                   right_index=True)

del country_features['country_name']
country_features.set_index('country').head()

,happiness_score,social_support,healthy_life_expectancy,freedom_of_choices,generosity,perception_of_corruption,world_region,area,population,literacy
country,,,,,,,,,,
Afghanistan,2.5669,0.470367,52.590000,0.396573,-0.096429,0.933687,South Asia,647500,31056997,36.0
Albania,4.8827,0.671070,68.708138,0.781994,-0.042309,0.896304,Central and Eastern Europe,28748,3581655,86.5
Algeria,5.0051,0.803385,65.905174,0.466611,-0.121105,0.735485,Middle East and North Africa,2381740,32930091,70.0
Argentina,5.9747,0.900568,68.803802,0.831132,-0.194914,0.842010,Latin America and Caribbean,2766890,39921833,97.1
Armenia,4.6768,0.757479,66.750656,0.712018,-0.138780,0.773545,Commonwealth of Independent States,29800,2976372,98.6

## Task 3: Where are people happier?

Print the top 10 countries based on their happiness score (higher is better).

In [20]:
happy_rank = country_features.sort_values('happiness_score', ascending = False)
happy_rank[['country', 'happiness_score']].set_index('country').head(10)

             happiness_score
country
Finland               7.8087
Denmark               7.6456
Switzerland           7.5599
Iceland               7.5045
Norway                7.4880
Netherlands           7.4489
Sweden                7.3535
New Zealand           7.2996
Austria               7.2942
Luxembourg            7.2375

We are interested to know in what world region people are happier. 

Create and print a dataframe with the (1) average happiness score and (2) the number of contries for each world region.
Sort the result to show the happiness ranking.

In [21]:
region_group = country_features.groupby('world_region').mean('happiness_score')[['happiness_score']]
region_group['nb_countries'] = country_features.groupby('world_region').count()['happiness_score']
region_group.sort_values('happiness_score', ascending=False).head(10)

                                    happiness_score  nb_countries
world_region
North America and ANZ                      7.173525             4
Western Europe                             6.967405            20
Latin America and Caribbean                5.971280            20
Central and Eastern Europe                 5.891393            14
Southeast Asia                             5.517788             8
East Asia                                  5.483633             3
Commonwealth of Independent States         5.358342            12
Middle East and North Africa               5.269306            16
Sub-Saharan Africa                         4.393856            32
South Asia                                 4.355083             6

The first region has only a few countries! What are them and what is their score?

In [22]:
happ_ANZ = country_features[country_features.world_region == 'North America and ANZ'][['country','happiness_score']]
happ_ANZ.set_index('country')

               happiness_score
country
Australia               7.2228
Canada                  7.2321
New Zealand             7.2996
United States           6.9396

## Task 4: How literate is the world?

Print the names of the countries with a level of literacy of 100%. 

For each country, print the name and the world region in the format: *{region name} - {country name} ({happiness score})*

In [23]:
best_litt = country_features[country_features.literacy == 100.0]
for index, data in best_litt.iterrows():
    print('{r} - {n} ({h})'.format(r = data.world_region, n = data.country, h = data.happiness_score))

North America and ANZ - Australia (7.222799778)
Western Europe - Denmark (7.645599842)
Western Europe - Finland (7.808700085)
Western Europe - Luxembourg (7.237500191)
Western Europe - Norway (7.487999916000001)

What is the global average?

In [24]:
print(country_features.literacy.mean())

81.85112781954888

Calculate the proportion of countries with a literacy level below 50%. Print the value in percentage, formatted with 2 decimals.

In [25]:
nb_bad_litt = len(country_features[country_features.literacy < 50])
nb_country = len(country_features)
print(round(nb_bad_litt/nb_country*100, 2), '%')

11.85 %

Print the raw number and the percentage of world population that is illiterate.

In [26]:
nb_illit = ((100 - country_features.literacy)/100*country_features.population).sum()
nb_pop = country_features.population.sum()
print(round(nb_illit, 2), '=', round(nb_illit/nb_pop*100, 2), '%', 'of illeterate people')

1249372988.1 = 20.33 % of illeterate people

## Task 5: Population density

Add to the dataframe a new field called *population_density* computed by dividing *population* by *area*.

In [ ]:
# Write your code here

What is the happiness score of the 3 countries with the lowest population density?

In [ ]:
# Write your code here

## Task 6: Healty and happy?

Plot in a scatter plot the happiness score (x) and healty life expectancy (y).

In [ ]:
# Write your code here

Feel free to continue the exploration of the dataset! We'll release the solutions next week.

----
Enjoy EPFL and be happy, next year Switzerland must be #1.